* {
    margin: 0;
    padding: 0;
}

body {
    margin: 1%;
    background-image: url("https://i.postimg.cc/3NZhkt1D/th.jpg");
    background-image: no-repeat;
}

p {
    text-align: center;
}

nav,
h1 {
    background-color: transparent;
    color: #fff;
}

.nav-link {
    color: #e3c80e;
}
.nav-link:hover{
    color: #29b200;
}

.navbar-toggler {
    color: #fff;
}

/*sticky footer css*/
main {
    flex: 1 0 auto;
}

.flashes h4 {
    line-height: 2;
}

/*footer color*/
footer {
    background: #aec589;
}

/* css for social link*/
.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 250%;
    padding-left: 5%;
    padding-right: 5%;
    color: #ffffff;
}

.expert {
    text-align: left;
}

.prepared {
    text-align: left;

}

.card-body {
    background-color: white;
    color: #aec589;
    font-size: 1rem;
    border: 4px solid #ffffff;
    height: 100%;
}

.card-text {
    text-align: left;
}

.house:hover {
    color: #fff;
    background-color: #aec589;
    border: 3px solid #aec589;
}

.bin:hover {
    color: #fff;
    background-color: #aec589;
    border: 3px solid #aec589;
}

.rubbish:hover {
    color: #fff;
    background-color: #aec589;
    border: 3px solid #aec589;
}

.shed:hover {
    color: #fff;
    background-color: #aec589;
    border: 3px solid #aec589;
}

.garden:hover {
    color: #fff;
    background-color: #aec589;
    border: 3px solid #aec589;
}

.us:hover {
    color: #fff;
    background-color: #aec589;
    border: 3px solid #aec589;
}

.card-body {
    background-color: #aec589;
    color: #fff;
}

.btn-primary {
    --bs-btn-color: #aec589;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #fffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #000;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #aec589;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.icon {
    font-size: 200%;
    text-align: center;
    float: left;
    margin-bottom: 3%;
    margin-right: 2%;
}

.card-title {
    margin-top: 2%;
}

.btn-secondary {
    background-color: #aec589;
    color: white;
    margin-bottom: 1%;
}

.btn-secondary:hover {
    background-color: #aec589;
    color: #fff;
}

/* animated banner */
.c {
    text-align: center;
}

.emphasize {
    color: white !important;
    font-weight: 900;
}

#saleBanner {
    background-color: #aec589;
    overflow: hidden;
}

#saleBanner a {
    color: white;
    width: 100%;
}

#saleBanner a:hover {
    text-decoration: none;
}

#saleBannerMobile {
    background-color: black;
    overflow: hidden;
}

#saleBannerMobile a {
    color: white;
    width: 100%;
}

#saleBannerMobile a:hover {
    text-decoration: none;
}

#tickerItems {
    height: 28px;
}

#tickerItemsMobile {
    height: 18px;
}

@media screen and (min-width: 513px) {
    #saleBannerMobile {
        display: none;
    }

    #saleBanner {
        display: block;
    }
}

@media screen and (max-width: 512px) {
    #saleBannerMobile {
        display: block;
    }

    #saleBanner {
        display: none;
    }
}

ul li {
    list-style: none
}

.width-100 {
    width: 100%;
}

/* banner 2 */
.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
  }
  .banner > div {
    padding: 1rem;
  }
  .logo {
    flex: 0 1 auto;
    background-color: green
  }
  .messages {
    flex: 1 1 auto;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
  }
  .messages div {
    /*animation: move .5s ease-in-out 0.5s 4 alternate;*/
    overflow:hidden;
    border: 1px solid transparent;
    font-family: Century Gothic, sans-serif;
  }
  .message-topic {
    font-weight: bold;
    font-size: 2.0rem;
    margin-right: 1rem;
    padding: 1.5rem 1rem 1.5rem 0;
  }
  .message-content {
    font-size: 1.45rem;
  }

  #topic-1 {
    animation: showup-1 7s infinite;
    border-right: #fff;
  }
  */
  #message-1 {
    width:0px;
    height:0px;
    animation: reveal-1 7s infinite;
  }
.logo img{
    width: 100%;
    height: 50vh;
}
  @keyframes showup-1 {
      0% {opacity:0;border-right-color: transparent;}
      20% {opacity:1;}
      35% {border-right-color: #AAA;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  @keyframes reveal-1 {
      0% {opacity:0;width:0px;height:0;}
      20% {opacity:1;width:0px;height:30px;}
      30% {width:550px;}
      80% {opacity:1;}
      100% {opacity:0;width:300px;height:20px;}
  }
  @keyframes slidein-1 {
      0% { margin-left:-500px; }
      20% { margin-left:-400px; }
      30% { margin-left:0px; }
      100% { margin-left:0px; }
  }
  
  /* Test animation CSS; This worked at the 7-second duration */
  /*
  @keyframes showup-1 {
      0% {opacity:0;border-right-color: transparent;}
      20% {opacity:1;}
      35% {border-right-color: #AAA;}
      80% {opacity:1;}
      100% {opacity:0;}
  }
  @keyframes reveal-1 {
      0% {opacity:0;width:0px;height:0;}
      20% {opacity:1;width:0px;height:30px;}
      30% {width:550px;}
      80% {opacity:1;}
      100% {opacity:0;width:550px;height:30px;}
  }
  @keyframes slidein-1 {
      0% { margin-left:-600px; }
      20% { margin-left:-600px; }
      30% { margin-left:0px; }
      100% { margin-left:0px; }
  }*/
  
  
  
  /*@keyframes move {
     0% { transform: translateX(0); }
     50% { transform: translateX(20px); }
     100% { transform: translateX(100px); }
  }*/

  /* services card css */

  .service-grid {
    background: transparent;
}
    .service-title h4 {
    position: relative;
    display: inline-block;
}
.service-icon {
    position: relative;
}
.service-title p {
    padding: 0 190px;
    margin-bottom: 10px;
}
.about-info-text h2 {
    margin-bottom: 23px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: .9;
}
.about-info-text p {
    padding: 0 100px;
    font-size: 18px;
    margin-bottom: 26px;
      position: relative;
}
.about-content p {
    margin-bottom: 0;
}
.about-info-text a {
    margin-bottom: 20px;
      position: relative;
}
.service-icon i {
    font-size: 45px;
    color: #e8bc00;
    margin-bottom: 20px;
    display: inline-block;
    float:none;
}
.service-wrap-1 {
    border: 1px solid #e6e6e6;
    padding: 50px 30px;
    position: relative;
    background: #fff;
}

.service-wrap p{
      position: relative;
}

.service-wrap-1:hover {
    background-image: url(/static/media/shed-clearance.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
    color: #fff;
}

.service-wrap:hover:before {
    background: rgba(0, 0, 0, 0.2901960784313726);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    content: "";
    top: 0;
    opacity: 1;
}

.service-wrap:hover h4,.service-wrap:hover p{
    color: #fff;
}
.service-wrap h4 {
    font-weight: 600;
    color: #1e2331;
    margin-bottom: 17px;
    font-size: 20px;
    text-transform: capitalize;
      position: relative;
}
.service-wrap a {
    font-size: 14px;
    font-weight: 600;
      position: relative;
}

.service-wrap-2 {
    border: 1px solid #e6e6e6;
    padding: 50px 30px;
    position: relative;
    background: #fff;
}

.service-wrap-2:hover {
    background-image: url(/static/media/rubbish.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
    color: #fff;
}

.service-wrap-3 {
    border: 1px solid #e6e6e6;
    padding: 50px 30px;
    position: relative;
    background: #fff;
}

.service-wrap-3:hover {
    background-image: url(/static/media/house.JPG);
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
    color: #fff;
}

.service-wrap-4 {
    border: 1px solid #e6e6e6;
    padding: 50px 30px;
    position: relative;
    background: #fff;
}

.service-wrap-4:hover {
    background-image: url(/static/media/garden.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
    color: #fff;
}

.service-wrap-5 {
    border: 1px solid #e6e6e6;
    padding: 50px 30px;
    position: relative;
    background: #fff;
}

.service-wrap-5:hover {
    background-image: url(/static/media/green-bin.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
    color: #fff;
}

.service-wrap-6 {
    border: 1px solid #e6e6e6;
    padding: 50px 30px;
    position: relative;
    background: #fff;
}

.service-wrap-6:hover {
    background-color: #aec589;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
    transition: all .5s;
    color: #fff;
}