*{
    margin: 0;
    padding: 0;
}
body{
    margin: 1%;
}
p {
    text-align: center;
}

/*sticky footer css*/
main {
    flex: 1 0 auto;
  }
  
  .flashes h4 {
    line-height: 2;
}

/*footer color*/
footer {
    background: #aec589;
}

/* css for social link*/
.social-links {
    text-align: center;
}
.social-links li {
    display: inline;
}
.social-links i {
    font-size: 250%;
    padding-left: 5%;
    padding-right: 5%;
    color: #ffffff;
}
.expert{
    text-align: left;
}
.prepared{
    text-align: left;

}
.card-body {
    background-color: white;
    color: #aec589;
    font-size: 1rem;
    border: 4px solid #ffffff;
    height: 100%;
}
.card-text{
    text-align: left;
}
.btn-primary {
    --bs-btn-color: #aec589;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #fffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000;
    --bs-btn-hover-border-color: #000;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #aec589;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.icon {
    font-size: 200%;
    text-align: center;
    float: left;
    margin-bottom: 3%;
    margin-right: 2%;
}

.card-title {
    margin-top: 2%;
}

.btn-secondary{
    background-color: #aec589;
    color: white;
    margin-bottom: 1%;
}

.btn-secondary:hover{
    background-color: #000;
    color: #fff;
}