
p {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/*sticky footer css*/
main {
    flex: 1 0 auto;
  }

  .flashes h4 {
    line-height: 2;
}

/*footer color*/
footer {
    background: #aec589;
}

/* css for social link*/
.social-links {
    text-align: center;
}
.social-links li {
    display: inline;
}
.social-links i {
    font-size: 250%;
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
    color: #ffffff;
}

.card {
    border: 1rem solid #aec589;
}

.card-body {
    background: white;
    color: #aec589;
    font-size: 1rem;
}